* { box-sizing: border-box; }

body {
  margin: 0;
  display: flex;
  height: 100dvh;
  perspective: 1000px;
  font: 16px/1.4 sans-serif;
  overflow: hidden;
  background-color: #232425;
}

.book {
  display: flex;
  margin: auto;
  width: 300px;
  pointer-events: none;
  transform-style: preserve-3d;
  transition: translate 1s;
  translate: calc(min(var(--c), 1) * 50%) 0%;
  rotate: 1 0 0 30deg;
}

.page {
  --thickness: 5;
  flex: none;
  display: flex;
  width: 100%;
  pointer-events: all;
  user-select: none;
  transform-style: preserve-3d;
  border: 1px solid #0008;
  transform-origin: left center;
  transition:
    transform 1s,
    rotate 1s ease-in calc((min(var(--i), var(--c)) - max(var(--i), var(--c))) * 50ms);
  translate: calc(var(--i) * -100%) 0px 0px;
  transform: translateZ(calc((var(--c) - var(--i) - 0.5) * calc(var(--thickness) * 1px)));
  rotate: 0 1 0 calc(clamp(0, var(--c) - var(--i), 1) * -180deg);
}

.page img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.front,
.back {
  flex: none;
  width: 100%;
  padding: 2rem;
  backface-visibility: hidden;
  background-color: #fff;
  translate: 0px;
}

.back {
  background-image: linear-gradient(to right, #fff 80%, #ddd 100%);
  translate: -100% 0;
  rotate: 0 1 0 180deg;
}

/* Aligning icons on the front page */
.front {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
}

.front a {
    display: inline-flex;
    width: 0;
    height: 20%;
    padding: 0;
    margin: 0;
    text-decoration: none;
  }

.front .fa-github {
  align-self: flex-start; /* Align GitHub logo to the left */
  font-size: 2em;
  color: #000;
}

.front .fa-solid {
  align-self: flex-end; /* Align project link icon to the right */
  font-size: 2em;
  color: #000;
  vertical-align: middle;
}

.back {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .back a {
    display: inline-flex;
    width: 0;
    height: 20%;
    padding: 0;
    margin: 0;
    text-decoration: none;
  }
  
  .back .fa-github {
    align-self: flex-start; /* Align GitHub logo to the left */
    font-size: 2em;
    color: #000;
  }
  
  .back .fa-solid {
    align-self: flex-end; /* Align project link icon to the right */
    font-size: 2em;
    color: #000;
    vertical-align: middle;
  }
  

